@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

.add-issue {
  border-radius: 12px;
  background: #4ca746;
  color: white;
  padding: 5px;
  border: solid;
  outline: none;
}

.list-item {
  display: flex;
}

.list-buttons {
  margin-left: 70%;
}
